.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgba(251, 251, 255);
  position: sticky;
  top: 0;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  color: rgba(192, 192, 184);
}

.sidebarList {
  padding: 5px;
  list-style: none;
}

.sidebarListItem {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 5px;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgba(240, 240, 255);
}